################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core.Api.Swagger/bin/Debug/netcoreapp2.1
/.vs
/Core.Api.Swagger/obj
/Core.Api.Swagger.Client/obj
